In [42]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [14]:
url = 'https://www.mohfw.gov.in/'
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')
type(soup.findAll('tr'))
rows = soup.findAll('tr')

In [45]:
df = pd.DataFrame(columns=['S.No.', 'State/UT', 'ConfirmedIndia', 'ConfirmedForeign', 'Recovered', 'Died'])
i = 0
for row in rows[1:-1]:
    columns = row.find_all('td')
    df_row = [col.text for col in columns]
    print(df_row)
    df.loc[i] = df_row
    i = i+1

['1', 'Andhra Pradesh', '2', '0', '0', '0']
['2', 'Chhattisgarh', '1', '0', '0', '0']
['3', 'Delhi', '16', '1', '3', '1']
['4', 'Gujarat', '2', '0', '0', '0']
['5', 'Haryana', '3', '14', '0', '0']
['6', 'Karnataka', '15', '0', '0', '1']
['7', 'Kerala', '26', '2', '3', '0']
['8', 'Maharashtra', '44', '3', '0', '1']
['9', 'Odisha', '1', '0', '0', '0']
['10', 'Puducherry', '1', '0', '0', '0']
['11', 'Punjab', '2', '0', '0', '1']
['12', 'Rajasthan', '5', '2', '3', '0']
['13', 'Tamil Nadu', '3', '0', '1', '0']
['14', 'Telengana', '7', '9', '1', '0']
['15', 'Union Territory of Chandigarh', '1', '0', '0', '0']
['16', 'Union Territory of Jammu and Kashmir', '4', '0', '0', '0']
['17', 'Union Territory of Ladakh', '10', '0', '0', '0']
['18', 'Uttar Pradesh', '18', '1', '9', '0']
['19', 'Uttarakhand', '1', '0', '0', '0']
['20', 'West Bengal', '1', '0', '0', '0']

In [46]:
df

,S.No.,State/UT,ConfirmedIndia,ConfirmedForeign,Recovered,Died
0,1,Andhra Pradesh,2,0,0,0
1,2,Chhattisgarh,1,0,0,0
2,3,Delhi,16,1,3,1
3,4,Gujarat,2,0,0,0
4,5,Haryana,3,14,0,0
5,6,Karnataka,15,0,0,1
6,7,Kerala,26,2,3,0
7,8,Maharashtra,44,3,0,1
8,9,Odisha,1,0,0,0
9,10,Puducherry,1,0,0,0
10,11,Punjab,2,0,0,1
11,12,Rajasthan,5,2,3,0
12,13,Tamil Nadu,3,0,1,0
13,14,Telengana,7,9,1,0
14,15,Union Territory of Chandigarh,1,0,0,0
15,16,Union Territory of Jammu and Kashmir,4,0,0,0
16,17,Union Territory of Ladakh,10,0,0,0
17,18,Uttar Pradesh,18,1,9,0
18,19,Uttarakhand,1,0,0,0
19,20,West Bengal,1,0,0,0

In [232]:
df.to_json(r'./Data.json', orient = 'split')

In [225]:
oldDF = pd.read_json('./Data.json', orient='split')
oldDF

,S.No.,State/UT,ConfirmedIndia,ConfirmedForeign,Recovered,Died
0,1,Andhra Pradesh,2,0,0,0
1,2,Chhattisgarh,1,0,0,0
2,3,Delhi,16,1,3,1
3,4,Gujarat,2,0,0,0
4,5,Haryana,3,14,0,0
5,6,Karnataka,15,0,0,1
6,7,Kerala,26,2,3,0
7,8,Maharashtra,44,3,0,1
8,9,Odisha,1,0,0,0
9,10,Puducherry,1,0,0,0
10,11,Punjab,2,0,0,1
11,12,Rajasthan,5,2,3,0
12,13,Tamil Nadu,3,0,1,0
13,14,Telengana,7,9,1,0
14,15,Union Territory of Chandigarh,1,0,0,0
15,16,Union Territory of Jammu and Kashmir,4,0,0,0
16,17,Union Territory of Ladakh,10,0,0,0
17,18,Uttar Pradesh,18,1,9,0
18,19,Uttarakhand,1,0,0,0
19,20,West Bengal,1,0,0,0

In [226]:
mergedStuff = pd.merge(df, oldDF, on=['State/UT'], how='outer')
mergedStuff

,S.No._x,State/UT,ConfirmedIndia_x,ConfirmedForeign_x,Recovered_x,Died_x,S.No._y,ConfirmedIndia_y,ConfirmedForeign_y,Recovered_y,Died_y
0,1,Andhra Pradesh,2,0,0,0,1,2,0,0,0
1,2,Chhattisgarh,1,0,0,0,2,1,0,0,0
2,3,Delhi,16,1,3,1,3,16,1,3,1
3,4,Gujarat,2,0,0,0,4,2,0,0,0
4,5,Haryana,3,14,0,0,5,3,14,0,0
5,6,Karnataka,15,0,0,1,6,15,0,0,1
6,7,Kerala,26,2,3,0,7,26,2,3,0
7,8,Maharashtra,44,3,0,1,8,44,3,0,1
8,9,Odisha,1,0,0,0,9,1,0,0,0
9,10,Puducherry,1,0,0,0,10,1,0,0,0
10,11,Punjab,2,0,0,1,11,2,0,0,1
11,12,Rajasthan,5,2,3,0,12,5,2,3,0
12,13,Tamil Nadu,3,0,1,0,13,3,0,1,0
13,14,Telengana,7,9,1,0,14,7,9,1,0
14,15,Union Territory of Chandigarh,1,0,0,0,15,1,0,0,0
15,16,Union Territory of Jammu and Kashmir,4,0,0,0,16,4,0,0,0
16,17,Union Territory of Ladakh,10,0,0,0,17,10,0,0,0
17,18,Uttar Pradesh,18,1,9,0,18,18,1,9,0
18,19,Uttarakhand,1,0,0,0,19,1,0,0,0
19,20,West Bengal,1,0,0,0,20,1,0,0,0

In [227]:
def isSame(row):
#     print(str(row['ConfirmedIndia_x']) == str(row['ConfirmedIndia_y']))
#     print(str(row['ConfirmedForeign_x']) == str(row['ConfirmedForeign_y']))
#     print(str(row['Recovered_x']) == str(row['Recovered_y']))
#     print(str(row['Died_x']) == str(row['Died_y']))
    result = float(row['ConfirmedIndia_x']) == row['ConfirmedIndia_y'] and float(row['ConfirmedForeign_x']) == row['ConfirmedForeign_y'] and float(row['Recovered_x']) == row['Recovered_y'] and float(row['Died_x']) == row['Died_y']
#     print(result)
    return result
indexes = []
for index, row in mergedStuff.iterrows():
    if isSame(row):
        indexes.append(index)

mergedStuff = mergedStuff.drop(indexes)
print(indexes)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [228]:
mergedStuff

Empty DataFrame
Columns: [S.No._x, State/UT, ConfirmedIndia_x, ConfirmedForeign_x, Recovered_x, Died_x, S.No._y, ConfirmedIndia_y, ConfirmedForeign_y, Recovered_y, Died_y]
Index: []

In [172]:
from tabulate import tabulate

In [231]:
if not mergedStuff.empty:
    heading = ["State", "CI(now)", "CI(earlier)", "CF(now)", "CF(earlier)", "Rec(now)", "Rec(earlier)", "Deaths(now)", "Deaths(earlier)"]
    stats = []
    for index, row in mergedStuff.iterrows():
        stats.append([row["State/UT"], row["ConfirmedIndia_x"], row["ConfirmedIndia_y"], row["ConfirmedForeign_x"], row["ConfirmedForeign_y"], row["Recovered_x"], row["Recovered_y"], row["Died_x"], row["Died_y"]])
    heading
    stats
    # stats = heading + stats
    text = tabulate(stats, headers=heading, tablefmt="orgtbl")
else:
    print("empty")

empty

In [205]:
from slack_client import slacker

In [212]:
slacker()(text)

In [209]:
mergedStuff.to_html('temp.html')

In [216]:
slacker()(tabulate(df, headers=df.columns, tablefmt="psql"))